@tailwind base;
@tailwind components;
@tailwind utilities;

:root{ --accent: #66d9ff; --silver: #bfc6c9; --black: #0b0b0b }
body{font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;}
